@font-face {
    font-family: 'Oxygen';
    src: url('Oxygen-Bold.woff2') format('woff2'),
        url('Oxygen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url('Oxygen-Italic.woff2') format('woff2'),
        url('Oxygen-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url('Oxygen-BoldItalic.woff2') format('woff2'),
        url('Oxygen-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url('Oxygen.woff2') format('woff2'),
        url('Oxygen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bubblegum Sans';
    src: url('BubblegumSans-Regular.woff2') format('woff2'),
        url('BubblegumSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

